.App{
  text-align: center;
}
.User-name{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  color: blue;
} 
.User-profile-pic{
  height: 250px;
  aspect-ratio: 1/ 1;
  border-radius: 50%;
  object-fit: cover;
}
